<div class="container">
    <h1>Inicia Sesión</h1>
    <div class="form-container">
        <form id="loginForm">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="input-field">
            <br />
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" class="input-field">
            <input type="submit" value="Iniciar Sesión" class="submit-btn">
        </form>
    </div>
    <p class="link-container">
        ¿No tienes cuenta?
        <span style="margin-left: 10px;">
            <a href="/register" class="link">
                <button class="submit-btn-register">Regístrate aquí</button>
            </a>
        </span>
    </p>
    <p><a href="/restore" class="link">¿Olvidaste tu contraseña?</a></p>
</div>



<script src="/static/js/login.js"></script>