<div>
    <h2>Real Time Products</h2>
    <table class="tg" id="productsTable">
        <thead>
            <tr>
                <th>Nombre</span></th>
                <th>Precio</span></th>
                <th>Código</span></th>
                <th>Stock</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
            </tr>
        </tbody>
    </table>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>