body {
    margin: 0;
    /* Elimina los márgenes por defecto del body */
    padding: 0;
    /* Elimina cualquier relleno por defecto del body */
    overflow-x: hidden;
    /* Evita que el contenido se desborde horizontalmente */
    font-family: 'Harry Potter', sans-serif;
}

label {
    color: #a51c30;
}

h1{
    color: #fff;
}

p{
    color:#fff;;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Ajusta la altura mínima al 100% del viewport */
    background-image: url('../images/1366_2000.webp');
    background-size: cover;
    /* Cubre todo el área visible */
    background-position: center;
    /* Centra la imagen de fondo */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 5px 0 15px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /* Centra el texto dentro del campo */
    font-size: 16px;
    /* Tamaño de fuente adecuado para todo el proyecto */
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #bd8d46;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #a51c30;
}

.link {
    color: #a51c30;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
